* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 65.5%;
    }

#allContent{
    display: flex;
    gap: 2vw;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#comEnvoyer{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 33%;

}

/*////////////////// JS Dynamic ///////////////////////*/
.prenomCom {
    font-size: 1vw;
    padding-bottom: 1vw;
    padding-top: 0.5vw;
}
.com {
    font-size: 1vw;
    padding: 0.5vw;

}

/*.messageError{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-top: 0.5vw;*/
/*    height: 2vw;*/
/*    background-color: palevioletred;*/
/*    border-radius: 25px;*/
/*    opacity: 70%;*/


/*}*/
/*///////////////EcrireUnCom/////////////////*/

#ecrireUnComment{
    font-size: 1vw;
    padding-bottom: 1vw;
}

/*/////////////////////ContentNomPrenom//////////////////*/

#contentPrenomNom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1vw;
    font-size: 1vw;

}

/*////////réglage inputNom et prénom++   Style text Area  ////////////////////*/

input#textprenom,input#textnom{
    width: 16rem;
    height: 3rem;
    border-radius: 5px;
}

textarea#textcom{
    border-radius: 5px;
}

/*//////////////// Titre-Comment /////////////////*/

#titrecom{
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    padding-bottom: 0.5vw;
}

/*//////////////////////Buton//////////////////////*/

#but{
    display: flex;
    justify-content: end;
    padding-top: 0.2vw;
}
#envoyer{
background-color: lightcyan;
height: 2vw;
border-spacing: 2vw;
border-radius: 5px;
width: 8rem;
}

#envoyer:hover {
    background-color: aqua;
}


/*///////////////////////////Fin de code ///////////////////*/
