* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
    display: flex;
    justify-content: center;
}
#content{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
#ecrireUnComment{
    display: flex;
    justify-content: left;
    padding-bottom: 1rem;
    margin-top: 2rem;

}
#contentPrenomNom{
    display: flex;
    justify-content: left;
    align-content: space-between;
    margin-bottom: 3rem;

    }

#textnom,#textnomtitre{
    display: flex;
    justify-content: space-between;
    margin-left: 7rem;

}

/*textarea{*/
/*    */

/*}*/
#titrecom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#com{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#but{
    display: flex;
    justify-content: right;
    margin-top: 2rem;
}

#envoyer{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 10px;
    width: 8rem;
}